@media (max-width: 768px) {
    .nav-item-container {
        text-align: right;
    }
    .nav-item-container li {
        margin: 0px;
    }
    .navbar-collapse {
        background-color: white;
    }
    .nav a {
        color: #f44283;
    }
}

@media (min-width: 768px) {
    .nav-item-container {
        text-align: center;
        padding: 16px 0px 16px 0px;
    }
    .nav-item-container li {
        display: inline-block;
        margin: 0px 20px 0px 20px;
    }
    .nav a {
        color: white;
    }
}

.container {
    padding: 0;
}


#babeLogo {
    height: 300px;
    cursor: pointer;
}

.pictureExtend {
    background-color: #325bff;
    margin-left: 0%;
    margin-right: 0%;
}

.picture-col {
    padding: 0;
}

.nav {
    width: 100%;
}

.nav a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.button {
    background-color: #f44283;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right:55px;
    font-size: 12px;
    cursor: pointer;
}
